.sponsorships-layout {
  background-color: #fff;
  cursor: pointer;
}

.sp-card {
  display: flex;
  width: 300px;
  padding: 10px;
  margin: 12px auto;
  flex-wrap: wrap;
}

.sp-card:hover {
  color: #000;
  box-shadow: 0 0 5px #17386e;
  text-shadow: 0 0 1px rgba(9, 248, 244, 0.439);
  transition: 0.7s ease-in;
  border-radius: 2px;
}

.sp-card > img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.card-tag {
  width: 20px;
  cursor: pointer;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}

.card-desc {
  font-size: 14px;
  text-align: center;
  margin: 5px auto;
  line-height: 21px !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
